@use "../utils/variables" as v;

* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: var(--color-primary-darkblue);
}

body {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
}

p {
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: var(--color-primary-darkblue);
}

img {
  background-repeat: no-repeat;
}

input {
  outline: none;
}
