:root {
  --color-primary-white: #ffffff;
  --color-primary-brightblue: #2b7fff;
  --color-primary-darkblue: #011c44;
  --color-secondary-gray: #4a4a4a;
  --color-secondary-lightergray: #747272;
  --color-secondary-darkblue: #011f4a;
  --color-secondary-brightorange: #ffd02b;
  --triplet-secondary-darkblue: 1, 31, 74;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;