.about-us-section {
  padding-bottom: 176px;

  &__container {
    display: flex;
    gap: 32px;
  }

  &__heading {
    padding-top: 40px;
    margin-bottom: 40px;
  }

  &__description {
    width: 708px;
  }

  &__text {
    font-size: 22px;
    line-height: 1.7;
    margin-bottom: 40px;

    &--highlighted {
      font-weight: 600;
    }
  }

  &__images {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    height: 700px;
  }

  &__image {
    width: 328px;
    height: 328px;
    border-radius: 50%;

    &--start {
      align-self: flex-start;
    }

    &--end {
      align-self: flex-end;
    }
  }
}
