@use "../utils/variables" as v;

$about-us-section-bg-size-desktop: 408px;
$about-us-section-bg-size-mobile: 255px;

.about-us-section {
  position: relative;

  // &:before {
  //   content: "";
  //   position: absolute;
  //   top: 40px;
  //   right: 0;
  //   width: 100%;
  //   height: 100%;
  //   background-image: url("images/svg/stars-background.svg");
  //   background-position: top right;
  //   background-size: $about-us-section-bg-size-desktop;
  //   background-repeat: no-repeat;
  // }

  &__container {
    display: flex;
    gap: 32px;
  }

  &__heading {
    padding-top: 40px;
    margin-bottom: 40px;
  }

  &__description {
    width: 708px;
  }

  &__text {
    font-size: 22px;
    line-height: 1.7;
    margin-bottom: 40px;

    &--highlighted {
      font-weight: 600;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__images {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    height: 700px;
  }

  &__image {
    width: 328px;
    height: 328px;
    border-radius: 50%;

    &--start {
      align-self: flex-start;
    }

    &--end {
      align-self: flex-end;
    }
  }

  @media screen and (max-width: v.$bp-mobile) {
    padding: 0 20px;

    // &:before {
    //   position: absolute;
    //   top: 100%;
    //   right: 32px;
    //   width: 32px;
    //   height: 32px;
    //   background-image: url("images/svg/star.svg");
    //   background-position: bottom right;
    //   background-size: 32px;
    //   background-repeat: no-repeat;
    // }

    &__heading {
      font-size: 32px;
      margin-bottom: 24px;
    }

    &__text {
      font-size: 18px;
    }

    &__images {
      display: none;
    }
  }
}
