.advantages-section {
  position: relative;
  width: 1060px;
  margin-bottom: 96px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-primary-white);
    width: 100%;
    height: 100%;
    clip-path: path(
      "M1015.22 1337.16C843.995 1419.9 681.707 1521.67 492.376 1503.93C294.908 1485.41 120.319 1384.81 -15.7281 1240.52C-170.733 1076.12 -313.597 882.646 -306.334 656.797C-298.462 411.99 -193.856 145.024 23.1542 31.4023C227.164 -75.4123 448.972 123.052 678.526 141.149C938.036 161.607 1224.83 -18.2038 1429.76 142.29C1655.09 318.766 1777.41 657.859 1683.59 928.291C1594.61 1184.79 1259.68 1219.03 1015.22 1337.16Z"
    );
  }

  &__heading {
    margin-bottom: 48px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    background-color: var(--color-primary-white);
    border-radius: 32px;
    padding: 24px 32px;
    width: 316px;
    height: 180px;
    box-shadow: 0 4px 4px 0 rgba(168, 198, 245, 0.38);
  }

  &__icon {
    display: block;
    justify-self: center;
    margin: 0 auto;
    width: 48px;
    height: 48px;
    margin-bottom: 8px;
    fill: var(--color-primary-brightblue);
  }

  &__text {
    font-size: 18px;
    line-height: 1.3;
    color: black;
    text-align: center;
  }
}
