.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(var(--triplet-secondary-darkblue), 0.4);
    transition: opacity 0.2s, visibility 0.2s;
    padding: 20px;
    z-index: 2;
}