@use "../utils/variables" as v;

.contacts-section {
  width: 1060px;
  margin-bottom: 94px;

  &__heading {
    margin-bottom: 48px;
  }

  &__container {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }

  &__form {
    background-color: var(--color-primary-darkblue);
    background-image: url("images/svg/modal-and-footer-bg.svg");
    background-size: 800%;
    background-position: center;
    border-radius: 32px;
    padding: 48px 56px;
  }

  &__map {
    border: 0;
    border-radius: 32px;
    width: 600px;
  }

  @media screen and (max-width: v.$bp-mobile) {
    &__heading {
      margin-bottom: 24px;
    }

    &__container {
      flex-direction: column;
      gap: 24px;
    }

    &__map {
      position: relative;
      top: 0;
      left: -20px;
      width: calc(100% + 40px);
      border-radius: 0;
    }
  }
}
