.contacts-section {
  width: 1060px;
  margin-bottom: 94px;

  &__heading {
    margin-bottom: 48px;
  }

  &__container {
    display: flex;
    gap: 32px;
  }

  &__form {
    background-color: var(--color-primary-darkblue);
    border-radius: 32px;
    padding: 48px 56px;
  }

  &__map {
    border: 0;
    border-radius: 32px;
    width: 600px;
  }
}
