@use "../utils/variables" as v;

.contacts-section {
  width: 1060px;
  margin-bottom: 94px;

  &__heading {
    margin-bottom: 48px;
  }

  &__container {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }

  &__form {
    background-color: var(--color-primary-darkblue);
    background-image: url("images/svg/modal-and-footer-bg.svg");
    background-size: 800%;
    background-position: center;
    border-radius: 32px;
    padding: 48px 56px;

    @media screen and (max-width: v.$bp-mobile) {
      border-radius: 24px;
      padding: 42px 24px;
    }
  }

  &__map {
    order: -1;
    width: 600px;

    &--container {
      width: 100%;
      height: 100%;
      border: 0;
      border-radius: 32px;
    }
  }

  @media screen and (max-width: v.$bp-mobile) {
    margin-bottom: 0;

    &__heading {
      margin-bottom: 24px;
    }

    &__container {
      flex-direction: column;
      gap: 24px;
    }

    &__map {
      order: 1;
      position: relative;
      width: 100%;
      height: 232px;

      &--container {
        position: absolute;
        top: 0;
        width: 100vw;
        left: calc((100vw - 100%) / 2 * -1);
        border-radius: 0;
      }
    }
  }
}
