@use "../utils/variables" as v;

.footer {
  padding: 56px 0;
  background-color: var(--color-primary-darkblue);
  background-image: url("images/svg/modal-and-footer-bg.svg");
  background-size: 200%;
  background-position: center;

  &__container {
    display: flex;
    flex-direction: row;
    align-items: normal;
  }

  &__logo {
    flex: 1 1 25%;
    fill: var(--color-primary-brightblue);
    width: 83px;
    height: 42px;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    flex: 1 1 25%;
  }

  &__link {
    max-width: 203px;
    font-style: normal;
    font-size: 16px;
    margin-bottom: 16px;
    color: var(--color-primary-white);
    transition: color 0.2s;

    &:hover {
      color: var(--color-primary-brightblue);
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    flex: 1 1 25%;
  }

  &__address {
    display: flex;
    flex-direction: column;
  }

  &__socials {
    display: flex;
    gap: 24px;
  }

  &__copyright {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    color: var(--color-secondary-lightergray);
  }

  &__icon {
    width: 42px;
    height: 42px;
    fill: var(--color-primary-white);
    transition: fill 0.2s;

    &:hover {
      fill: var(--color-primary-brightblue);
    }
  }

  @media screen and (max-width: v.$bp-mobile) {
    font-size: 14px;

    &__logo {
      display: flex;
      justify-content: center;
      margin-bottom: 42px;
    }

    &__container {
      flex-direction: column;
      align-items: center;
    }

    &__item {
      display: flex;
      justify-content: center;
    }

    &__address {
      display: none;
    }

    &__external-links {
      display: flex;
      flex-direction: column;
    }

    &__privacy-policy {
      order: -1;
    }

    &__socials {
      justify-content: center;

      .footer__link {
        margin-bottom: 8px;
      }
    }

    &__icon {
      width: 32px;
      height: 32px;
    }

    &__copyright {
      display: flex;
      align-items: center;
    }
  }
}
