// @use "../utils/variables" as v;

// .gradient-mask {
//   @media screen and (max-width: v.$bp-mobile) {
//     background-image: linear-gradient(
//       180deg,
//       rgba(43, 127, 255, 0.2) 12%,
//       rgba(43, 127, 255, 0.04) 56%,
//       rgba(43, 127, 255, 0) 57%
//     );
//     mask-size: $gradient-mask-mask-size-mobile;
//     mask-repeat: no-repeat;
//     padding-top: 92px;
//   }
// }
