@use "../utils/variables" as v;

.header {
  position: absolute;
  width: 100%;
  z-index: 1;

  .section {
    display: flex;
    justify-content: space-between;
    gap: 56px;
    justify-content: space-between;
    max-width: 1440px;
    padding: 32px 100px;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.25);
  }

  &__logo {
    width: 74px;
    height: 42px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    gap: 56px;
  }

  &__socials {
    display: flex;
    justify-content: space-between;
    gap: 42px;
  }

  &__icon {
    width: 32px;
    height: 32px;
    fill: var(--color-primary-darkblue);
    transition: fill 0.2s;

    &:hover {
      fill: var(--color-primary-brightblue);
    }

    &--logo {
      width: 74px;
      height: 42px;
    }
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    color: var(--color-primary-darkblue);
    transition: color 0.2s;

    &:hover {
      color: var(--color-primary-brightblue);
    }
  }

  &__burger-btn {
    display: none;
    border: none;
    background-color: transparent;
    width: 24px;
    height: 24px;
  }

  &__burger-icon {
    fill: var(--color-primary-white);
    cursor: pointer;
  }

  @media screen and (max-width: v.$bp-mobile) {
    .section {
      padding: 16px 20px;
      padding-bottom: 0;
      backdrop-filter: none;
      background-color: transparent;
    }

    &__logo {
      width: 57px;
      height: 30px;
    }

    &__list {
      display: none;
    }

    &__socials {
      display: none;
    }

    &__icon {
      &--logo {
        width: 57px;
        height: 30px;
      }
      &--close {
        width: 16px;
        height: 16px;
      }
    }

    &__burger-btn {
      display: block;
    }

    &__burger-icon {
      width: 24px;
      height: 24px;
    }
  }
}
