@use "../utils/variables" as v;

.hero-section {
  .section {
    position: relative;
    background-image: linear-gradient(
        90deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0.8509) 26%,
        rgba(255, 255, 255, 0.1932) 56%,
        rgba(255, 255, 255, 0) 74%
      ),
      url("/images/png/hero-background.png");
    // background-size: cover;
    background-size: 1152px;
    background-repeat: no-repeat;
    background-position: right, top right -24px;
    mask-image: url("/masks/hero-mask.svg");
    // mask-size: 100%;
    mask-repeat: no-repeat;
    mask-position: bottom 0 right calc(50% - 131px);
    max-width: 1440px;
    padding: 0 minmax(20px, 200px);
    padding-top: 102px;
  }

  &__container {
    max-width: 1028px;
    margin: 0 auto;
    padding-bottom: 126px;
  }

  &__heading {
    max-width: 530px;
    margin-bottom: 40px;
  }

  &__text {
    margin-bottom: 16px;

    &:last-child {
      color: var(--color-secondary-gray);
      font-size: 12px;
      line-height: 1.5;
      max-width: 238px;
      text-align: center;
    }
  }

  &__btn {
    margin-bottom: 14px;
  }
}
