@use "../utils/variables" as v;

$hero-section-bg-size-desktop: 1152px;
$hero-section-bg-size-mobile: 600px;
$hero-section-mask-size-desktop: 1998px;
$hero-section-mask-size-mobile: 870px;

.hero-section {
  .section {
    position: relative;
    background-image: linear-gradient(
        90deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0.8509) 26%,
        rgba(255, 255, 255, 0.1932) 56%,
        rgba(255, 255, 255, 0) 74%
      ),
      url("images/png/hero-background.png");
    // background-size: cover;
    background-size: $hero-section-bg-size-desktop;
    background-repeat: no-repeat;
    background-position: right, top right -24px;
    mask-image: url("masks/hero-mask.svg");
    mask-size: $hero-section-mask-size-desktop;
    mask-repeat: no-repeat;
    mask-position: bottom 0 right calc(50% - 131px);
    max-width: 1440px;
    padding: 0 200px;
    padding-top: 102px;

    @media screen and (max-width: v.$bp-mobile) {
      background-image: linear-gradient(
          45deg,
          rgba(255, 255, 255, 1) 0%,
          rgba(255, 255, 255, 0.78) 31%,
          rgba(255, 255, 255, 0.2) 56%,
          rgba(255, 255, 255, 0) 74%
        ),
        url("images/png/hero-background.png");
      padding-top: 71px;
      background-position: bottom;
      background-size: $hero-section-bg-size-mobile;
      mask-size: $hero-section-mask-size-mobile;
      mask-position: bottom;
    }
  }

  &__container {
    max-width: 1028px;
    margin: 0 auto;
    padding-bottom: 126px;

    @media screen and (max-width: v.$bp-mobile) {
      padding-bottom: 50px;
      margin-bottom: 5px;
    }
  }

  &__heading {
    font-weight: 700;
    max-width: 530px;
    margin-bottom: 40px;

    @media screen and (max-width: v.$bp-mobile) {
      font-size: 54px;
      margin-bottom: 32px;
    }
  }

  &__text {
    display: block;
    text-align: left;
    margin-top: 25px;
    margin-bottom: 16px;

    &:last-child {
      color: var(--color-secondary-gray);
      font-size: 12px;
      line-height: 1.5;
      max-width: 238px;
      text-align: center;
    }

    @media screen and (max-width: v.$bp-mobile) {
      font-size: 12px;
      margin-bottom: 5px;
      text-align: center;

      &:last-child {
        display: block;
        color: var(--color-secondary-gray);
        font-size: 11px;
        line-height: 1.6;
        max-width: 186px;
        text-align: center;
        margin: 0 auto;
      }
    }
  }

  &__btn {
    display: block;
    margin-bottom: 14px;

    @media screen and (max-width: v.$bp-mobile) {
      margin: 0 auto;
      margin-bottom: 8px;
    }
  }
}
