@forward "./header";
@forward "./section";
@forward "./hero-section";
@forward "./gradient-mask";
@forward "./advantages-section";
@forward "./about-us-section";
@forward "./procedures-section";
@forward "./contacts-section";
@forward "./footer";
@forward "./backdrop";
@forward "./modal";
