.modal {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-width: 724px;
    max-height: 682px;
    background-color: var(--color-primary-darkblue);
    background-image: url('/css/images/svg/modal-and-footer-bg.svg');
    background-size: 400%;
    border-radius: 48px;
    margin: 20px;
    padding: 42px 144px;

    &__btn {
        position: absolute;
        top: 42px;
        right: 42px;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    &__icon {
        width: 16px;
        height: 16px;
        fill: var(--color-primary-white);

        &:hover {
            fill: var(--color-primary-brightblue);
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 435px;
    }

    &__heading {
        width: 435px;
        font-family: 'Play';
        font-size: 64px;
        text-align: center;
        color: var(--color-primary-white);
        margin-bottom: 40px;
    }
}