@use "../utils/variables" as v;

.procedures-section {
  max-width: 1216px;
  padding-bottom: 40px;

  &__heading {
    margin-bottom: 48px;
  }

  &__container {
    position: relative;
  }

  &__item {
    overflow: hidden;
  }

  &__button {
    &--prev,
    &--next {
      background-color: transparent;
      border: 1px solid black;
      border-radius: 32px;
    }

    &--next {
      transform: rotate(180deg);
    }

    & svg {
      color: black;
      width: 16px;
    }
  }

  @media screen and (max-width: v.$bp-mobile) {
    &__button {
      display: none;
    }
  }
}
