.procedures-section {
  width: 1216px;
  margin-bottom: 96px;

  &__heading {
    margin-bottom: 48px;
  }

  &__container {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  &__list {
    flex: auto;
    display: flex;
    gap: 16px;
    justify-content: space-between;
    // flex-basis: calc((100% / 3) - 32px);
  }

  &__item {
    flex-basis: calc((100% - 32px) / 3);
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border: 1px solid var(--color-primary-darkblue);
    background-color: transparent;
    border-radius: 50%;
  }

  &__icon {
    width: 16px;
    height: 16px;
    &--next {
      transform: rotate(180deg);
    }
  }
}
