@use "../utils/variables" as v;

.section {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;

  &__heading {
    font-family: "Play";
    font-weight: 700;
    font-size: 64px;
    line-height: 1.3;
    color: var(--color-primary-darkblue);

    &--large {
      font-size: 140px;
      line-height: 0.8;
    }

    &--highlight {
      color: var(--color-primary-brightblue);
    }

    &--capitalize {
      text-transform: capitalize;
    }

    &--center {
      text-align: center;
    }
  }

  @media screen and (max-width: v.$bp-mobile) {
    padding: 0 20px;
    max-width: 360px;

    &__heading {
      font-family: "Roboto";
      font-size: 32px;
      font-weight: 500;
    }
  }
}
