.btn {
  font-family: Roboto;
  border: transparent;
  background-color: var(--color-primary-brightblue);
  color: var(--color-primary-white);
  font-size: 18px;
  font-weight: 600;
  padding: 16px 32px;
  border-radius: 32px;
}
