@use "../utils/variables" as v;

.form {
  width: 310px;

  &__heading {
    color: var(--color-primary-white);
    max-width: 272px;
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 32px;

    &--highlight {
      color: var(--color-primary-brightblue);
    }
  }

  &__terms-text {
    color: var(--color-secondary-lightergray);
    font-size: 12px;
    line-height: 1.5;
    text-underline-offset: 2px;
    text-align: center;
  }

  &__link {
    color: var(--color-secondary-lightergray);
    text-decoration-line: underline;
  }

  @media screen and (max-width: v.$bp-mobile) {
    width: auto;

    &__heading {
      margin-bottom: 24px;
    }
  }
}
