.form {
  &__heading {
    color: var(--color-primary-white);
    font-weight: 600;
    font-size: 22px;

    &--highlight {
      color: var(--color-primary-brightblue);
    }
  }

  &__terms-text {
    color: var(--color-secondary-lightergray);
    font-size: 12px;
    line-height: 1.5;
    text-underline-offset: 8px;
  }

  &__link {
    color: var(--color-secondary-lightergray);
    text-decoration-line: underline;
  }
}
