@use "../utils/variables" as v;

.input {
  // position: relative;
  margin-bottom: 16px;

  &__label {
    color: var(--color-primary-white);
    font-size: 13px;
  }

  &__control {
    font-size: 13px;
    border: 2px solid var(--color-secondary-lightergray);
    color: var(--color-primary-white);
    border-radius: 32px;
    width: 310px;
    padding: 18px 32px;
    background-color: transparent;
    transition: color 0.2s, border-color 0.2s, background-color 0.2s;

    &::placeholder {
      color: var(--color-primary-white);
      font-size: 13px;
    }

    &:focus {
      border-color: var(--color-primary-brightblue);
    }

    &:disabled {
      background-color: var(--color-secondary-lightergray);
    }
  }

  &__btn {
    display: block;
    margin: 0 auto;
    margin-bottom: 8px;

    &:focus,
    &:hover {
      color: var(--color-primary-white);
    }
  }
}
